
<% for( var i = 0 ; i < vers.length ; ++i ) { %>
    <div class='line'>
        <div class='contents'>
            <div class='name'><%= vers[i].version %></div>
            <div class='action view'>
                <a href="<%= '/app_ver/' + vers[i].app_version_id %>">View</a>
            </div>
        </div>
    </div>
<% } %>
