<h1>Application: <%= app.name + " v" + app.version %></h1>

<h1>Resources</h1>
<hr/>
<h3>EC2 Instances</h3>
<div id='ec2_list' class='list'>
</div>
<hr/>
<h3>Elastic Load Blancers</h3>
<div id='elb_list' class='list'>
</div>
<hr/>
<h3>Auto Scale Groups</h3>
<div id='asg_list' class='list'>
    <% for( var i = 0 ; i < app.auto_scale_groups.length ; ++i ) { %>
        <div class='line'><div class='contents'>
            <div class='name'><%= app.auto_scale_groups[i].name %></div>
            <div class='action edit'>
                <a href="<%= asgViewUrl(app.auto_scale_groups[i]) %>">Edit</a>
            </div>
            <div class='action delete'>
                <button onclick='asgDelete(<%= i %>);'>Delete</button>
            </div>
        </div></div>
    <% } %>
</div>
<input id='new_asg_name'/><button onclick='asgAdd();'>Add Auto Scale Group</button>
<hr/>
<h3>RDS Instances</h3>
<div id='rds_list' class='list'>
</div>
<hr/>
<h3>Elastic IPs</h3>
<div id='elastic_ip_list' class='list'>
</div>
<hr/>
<h1>Dependancies</h1>
<div id='dependancy_list' class='list'></div>
