
<h1>Auto Scale Group</h1>
<hr/>
<div class='prop_list'>
    <div class='line'>
        <div class='name'>Name</div>
        <div class='input'><input id='asg_name' value='<%= asg.name %>'/></div>
    </div>
</div>

