
body {
    padding: 10px 50px;
    font-size: 14px;
    font-family: Helvetica, "Lucida Grande", Arial, sans-serif;
}

.list {
    padding-bottom: 10px;

    .line {
    }
    .contents {
        display: inline-block;
        padding: 5px;
        background-color: #ddd;
    }
 
    .name {
        display: inline-block;
        width: 300px;
        overflow: hidden;
        text-overflow: ellipse;
    }
    .action {
        display: inline-block;
        width: 70px;
        text-align: center;
    }
}
